@font-face {
  font-family: 'Roboto';
  src: url('/assets/css/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

#app {
 font-family: 'Roboto', Helvetica, Arial, sans-serif;
}